#
# roles/base-config/templates/chrony/chrony.conf.j2
#

{% for server in ntp_conf.servers %}
server {{ server }} iburst
{% endfor %}

# This directive specify the location of the file containing ID/key pairs for
# NTP authentication.
keyfile /etc/chrony/chrony.keys

# This directive specify the file into which chronyd will store the rate
# information.
driftfile /var/lib/chrony/chrony.drift

# Uncomment the following line to turn logging on.
#log tracking measurements statistics

# Log files location.
logdir /var/log/chrony

# Stop bad estimates upsetting machine clock.
maxupdateskew 100.0

# This directive enables kernel synchronisation (every 11 minutes) of the
# real-time clock. Note that it can’t be used along with the 'rtcfile' directive.
rtcsync

# Step the system clock instead of slewing it if the adjustment is larger than
# one second, but only in the first three clock updates.
makestep 1 3

# Self-synchronise
#server 127.127.1.0 iburst

# Restrict the network interface to which chronyd will listen for NTP requests.
bindaddress 127.127.1.0

# Listen Port
port 123

# Serve low quality time even when the remote link is down
local stratum 10

# NTP server for the local system, not just a client
allow 127.0.0.0/8

