#
# $ sudo docker compose up -d ansible-shell
# $ sudo docker compose exec ansible-shell bash
# $ python3 -m pip freeze | tee ./Dockerfiles/requirements.freeze
# $ chown 1000:1000 ./Dockerfiles/requirements.freeze
# $ exit
# $ sudo docker compose down
# $ vim ./Dockerfiles/requirements.freeze
# $ mv -i ./Dockerfiles/requirements.{freeze,txt}
#
# https://pypi.org/project/ansible/
ansible~=11.9                               # <= Rewrite here.
# https://pypi.org/project/ansible-core/
ansible-core~=2.18                          # <= Rewrite here.
#argcomplete==3.6.2
#certifi==2025.8.3
#cffi==1.17.1
#charset-normalizer==3.4.3
#cryptography==45.0.6
#idna==3.10
#Jinja2==3.1.6
#MarkupSafe==3.0.2
#packaging==25.0
#pycparser==2.22
#PyYAML==6.0.2
#requests==2.32.4
requests
#resolvelib==1.0.1
#tomlkit==0.13.3
#urllib3==2.5.0
urllib3
#xmltodict==0.14.2
# https://pypi.org/project/yq/
#yq==3.4.3
yq
