#
# $ sudo docker-compose up -d ansible-shell
# $ sudo docker-compose exec ansible-shell bash
# $ source /var/opt/vEnv/ansible/bin/activate
# $ pip freeze | tee /tmp/requirements.txt
# $ deactivate
# $ exit
# $ sudo docker cp ansible-shell-con:/tmp/requirements.txt ./Dockerfiles/
# $ sudo chown 1000:1000 ./Dockerfiles/requirements.txt
# $ sudo docker-compose down
#
# https://pypi.org/project/ansible/
ansible~=5.9
# https://pypi.org/project/ansible-core/
ansible-core~=2.12
#argcomplete==2.0.0
#cffi==1.15.0
#cryptography==37.0.2
#Jinja2==3.1.2
#MarkupSafe==2.1.1
#packaging==21.3
#pkg_resources==0.0.0
#pycparser==2.21
#pyparsing==3.0.9
#PyYAML==6.0
#resolvelib==0.5.4
#toml==0.10.2
#xmltodict==0.13.0
# https://pypi.org/project/yq/
yq~=2.14
