#
# $ sudo docker-compose up -d ansible-shell
# $ sudo docker-compose exec ansible-shell bash
# $ pip3 freeze | tee /tmp/requirements.txt
# $ exit
# $ sudo docker cp ansible-shell-con:/tmp/requirements.txt ./Dockerfiles/
# $ sudo chown 1000:1000 ./Dockerfiles/requirements.txt
# $ sudo docker-compose down
#
# https://pypi.org/project/ansible/
ansible~=9.1
# https://pypi.org/project/ansible-core/
ansible-core~=2.16
#argcomplete==3.2.1
#beautifulsoup4==4.12.2
#certifi==2023.11.17
#cffi==1.16.0
#charset-normalizer==3.3.2
#cryptography==41.0.7
#idna==3.6
#Jinja2==3.1.2
#MarkupSafe==2.1.3
#packaging==23.2
#pycparser==2.21
#PyYAML==6.0.1
#requests==2.31.0
#resolvelib==1.0.1
# https://pypi.org/project/SkPy/
SkPy~=0.10
#soupsieve==2.5
#tomlkit==0.12.3
#urllib3==2.1.0
#xmltodict==0.13.0
# https://pypi.org/project/yq/
yq
