# Build Arguments
REPOSITORY=local-repo/infra/ansible          # <= Rewrite here.
#TAG=11.9.0-0-arm64                           # <= Rewrite here.
TAG=11.9.0-0-amd64                           # <= Rewrite here.
ADD_LOCALE=en_US.UTF-8 UTF-8
SET_LOCALE=en_US.UTF-8
LC_ALL=en_US.UTF-8
# ansible-shell Service Arguments
HOSTNAME_ANSIBLE_SHELL_CON=ansible-shell-con # <= Shell Container Name.
