RUNNER_REPOSITORY=gitlab/gitlab-runner
#
# https://hub.docker.com/r/gitlab/gitlab-runner/tags?page=1&ordering=last_updated
RUNNER_TAG=v16.11.2
#
GITLAB_HOSTNAME=gitlab.example.com
GITLAB_ADDRESS=192.0.2.80
REGISTRY_HOSTNAME=registry.example.com
REGISTRY_ADDRESS=192.0.2.80
#
DOCKER_CONTAINER=gitlab-runner-docker
SELFMNG_CONTAINER=gitlab-runner-selfmng
PATH_DOCKER_VOLUME=/var/opt/docker.volume
