REPOSITORY=local-repo/infra/bastion
TAG=3.20.0-1
CONTAINER=bastion01
LOGIN_UID=1000
LOGIN_GID=1000
LOGIN_USER=alpine
LOGIN_USER_PASSWORD=alpine!1234
PUBLIC_SSH=65422
DNAT_SSH_IPV4=172.19.44.22
DNAT_SSH_IPV6=fdee:172:19:44::22
